@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #e3e3e3;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}
